.navbar{
    background-color: brown !important;
}
.nav-link,.btn-secondary{
    font-weight: bold;
    color: azure;
}
.logo-img{
    height: 50px;
    width: 80px;
}
.fa-user, .fa-shopping-cart{
    font-size: 30px !important;
}
.fa-truck,.fa-headphones,.fa-thumbs-up{
    font-size: 50px !important;
    color:brown;
    margin-right: 10px;
}
.card1,.card2,.card3{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: #fff;
    box-shadow: 2px 4px 5px brown ;
    justify-content: center;
    align-items: center;
    color: brown;
    margin-top: 10px;
}
.maincard{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
    .card1,.card2,.card3{
        width: 100%;
        
    }
  }
  .newarrival{
      margin-top: 20px !important;
  }
  .card{
      height: 250px !important;
      width: auto !important;
      margin-bottom: 500px;
  }
  .card-text{
      font-weight: bold;
  }
  .btn-primary{
      background-color: brown;
      width: 100%;
  }
  /* @media only screen and (max-width: 765px) {
      .newarrival{
          width: 100%;
      }

  } */
  .heading{
      text-align: center;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 50px;
      color: brown;
  }
  .heading > h3{
      text-shadow: 2px 2px 4px black;
      font-size: 80px;
  }
  .heading > h4{
    text-shadow: 2px 2px 4px black;
    font-size: 80px;

}